* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    overflow: hidden;

  }
.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #001f3f, #007bff);
    align-items: center;
    justify-content: center;
    gap: 2vw;
    position: relative;
  }

.photoborder{
    height: 30vw;
    width: 25vw;    
    padding: 1vw;
    border-radius: 50px;
    background-color: white;
}

#actualimage{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-radius: 50px;
}
#name{
    font-size: 3vw;
    text-align: center;
    color: white;
}

#description{
width: 50%;
text-align: center;
color: white;
}

#watermark{
    position: absolute;
    bottom: 10px;
    right: 10px;
}